<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>xCHM</string>
    <key>CFBundleIconFile</key>
    <string>xCHM.icns</string>
    <key>CFBundleIdentifier</key>
    <string>net.sourceforge.xchm.xCHM</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>xCHM</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.23_20130828_7fa3f2dddc3b0baf5b17b6432a33f4be494b02da</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.23_20130828_7fa3f2dddc3b0baf5b17b6432a33f4be494b02da</string>
</dict>
</plist>
