BasedOnStyle: WebKit
IndentWidth: 4
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: InlineOnly
ReflowComments: true
IndentCaseLabels: false
ColumnLimit: 120
BreakConstructorInitializers: BeforeColon
Cpp11BracedListStyle: true
Language: Cpp
NamespaceIndentation: None
Standard: Cpp11
SpacesInParentheses: false
SpaceInEmptyParentheses: false
IndentWrappedFunctionNames: false
SortIncludes: true
SpaceBeforeAssignmentOperators: true
AlwaysBreakBeforeMultilineStrings: true
